.thin-red-line{
    color: white;
    background-color: rgb(228, 32, 32);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        padding-left: 20px;
    }

    a{
        color: white;
        text-decoration: none;
        padding: 0 10px;
    }
}